<?xml version="1.0" encoding="utf-8"?>
<caching currentCache="AzureBlobCache">
  <caches>
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web" maxDays="365" memoryMaxMinutes="1" browserMaxDays="31">
      <settings>
        <setting key="VirtualCachePath" value="~/app_data/cache" />
      </settings>
    </cache>
    <cache name="AzureBlobCache" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache, ImageProcessor.Web.Plugins.AzureBlobCache" maxDays="365" browserMaxDays="31">
      <settings>
        <!-- Azure storage account settings -->
        <setting key="CachedStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YOUR_ACCOUNT_NAME];AccountKey=[YOUR_ACCOUNT_KEY];EndpointSuffix=core.windows.net" />
        <setting key="CachedBlobContainer" value="[CONTAINER_NAME]" />
        <setting key="UseCachedContainerInUrl" value="true" />
        <!-- set if you are using a content delivery network -->
        <setting key="CachedCDNRoot" value="[CDN_ROOT_URL]" />
        <setting key="CachedCDNTimeout" value="1000" />
        <setting key="SourceStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YOUR_ACCOUNT_NAME];AccountKey=[YOUR_ACCOUNT_KEY];EndpointSuffix=core.windows.net" />
        <setting key="SourceBlobContainer" value="[CONTAINER_NAME]" />
        <!-- false means lower processing overhead but images will be redirected -->
        <setting key="StreamCachedImage" value="true" />
      </settings>
    </cache>
  </caches>
</caching>